{% extends "base.html" %}
{% load static %}

{% block title %}
Home page
{% endblock %}

{% block base_head %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}?version=1" >
{% endblock %}

{% block content %}
<div class="text-center">
              <h1>Hello, world! {{title}}</h1>
          </div>
          <img src="{% static 'img/img1.png'%}" class="img-circle">
          <div class="container">
              <div class="row">
                  <div class="col">
                      <p>{{content}}</p>
                  </div>
              </div>
              {% if request.user.is_authenticated %}
              <div class="row">
                  <div class="col">
                      <h1>premium content</h1>
                      <p>{{premium_content}}</p>
                  </div>
              </div>
              {% endif %}
          </div>

{% endblock %}

